//======MAIN CONTAINER=======
@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
@use 'sass:color';

main{
  width: 100%;
  min-height: 500px;
  @include main-bg;
  isolation: isolate; 
  padding-top: 45px;
  padding-bottom: 45px;
  @include mobile{
    padding-top: 25px;
    padding-bottom: 25px;
  }
}